@using BookingAudience.ViewModels;
@model AllAudiencesViewModel; 

@{
    int floor = -1;
}

@for (int i = 0; i < Model.ListOfListsOfAudiences.Count; i++)
{
    string title = Model.ListOfListsOfAudiences[i][0].Building.Title;
    <div class="view-page-section" data-section-title="@title">
        <div class="view-page-title"><i class='bx bx-chevron-right icon' onClick={toggleNavigation}></i>@title</div>

        @for (int j = 0; j < Model.ListOfListsOfAudiences[i].Count; )
        {
            floor = Model.ListOfListsOfAudiences[i][j].Floor;
            <div class="view-page-section" data-section-title="@title">
                <div class="view-page-title"><i class='bx bx-chevron-right icon' onClick={toggleNavigation}></i>Этаж @floor</div>

                @while (floor == Model.ListOfListsOfAudiences[i][j].Floor)
                {
                    <a asp-controller="Corpus" asp-action="GetAudience" asp-route-fullNumber="@($"{Model.ListOfListsOfAudiences[i][j].Building.CodeLetter}{Model.ListOfListsOfAudiences[i][j].Number}")" class="service audience">
                        <span class="title">@($"{Model.ListOfListsOfAudiences[i][j].Building.CodeLetter}{Model.ListOfListsOfAudiences[i][j].Number}")</span>
                        <span class="description">@Model.ListOfListsOfAudiences[i][j].Building.Title, этаж @floor</span>
                    </a>
                    j++;
                    if (j >= Model.ListOfListsOfAudiences[i].Count)
                        break;
                }
            </div>
        }
    </div>
}