@using BookingAudience.ViewModels;
@model AllAudiencesViewModel;


@{
    ViewData["Title"] = "Audiences";
    int floor = -1;
}

<div class="category-content audiences" id="audiences">
    <div class="category-title">@ViewData["Title"]</div>
    <div class="controls">

        <div>
            <select class="filter" id="filter-building" asp-items="Model.BuildingOptions" onchange="updateAudiences()">
                
            </select>
        </div>

        <div>
            <select class="filter" id="filter-floor" asp-items="Model.FloorOptions" onchange="updateAudiences()">

            </select>
        </div>

        <div>
            <select class="filter" id="filter-type" asp-items="Model.AudienceTypeOptions" onchange="updateAudiences()">
        
            </select>
        </div>
    </div>
    <div class="view-page" id="view-page">
        @if (Model.ListOfListsOfAudiences != null && Model.ListOfListsOfAudiences.Count > 0)
        {
            @for (int i = 0; i < Model.ListOfListsOfAudiences.Count; i++)
            {
                string title = Model.ListOfListsOfAudiences[i][0].Building.Title;
                <div class="view-page-section" data-section-title="@title">
                    <div class="view-page-title"><i class='bx bx-chevron-right icon' onClick={toggleNavigation}></i>@title</div>

                    @for (int j = 0; j < Model.ListOfListsOfAudiences[i].Count;)
                    {
                        floor = Model.ListOfListsOfAudiences[i][j].Floor;
                        <div class="view-page-section" data-section-title="@title">
                            <div class="view-page-title"><i class='bx bx-chevron-right icon' onClick={toggleNavigation}></i>Этаж @floor</div>

                            @while (floor == Model.ListOfListsOfAudiences[i][j].Floor)
                            {
                                <a asp-controller="Corpus" asp-action="GetAudience" asp-route-id="@($"{Model.ListOfListsOfAudiences[i][j].Id}")" class="service audience">
                                    <span class="title">@($"{Model.ListOfListsOfAudiences[i][j].Title}")</span>
                                    <span class="description">@Model.ListOfListsOfAudiences[i][j].Building.Title, этаж @floor</span>
                                </a>
                                j++;
                                if (j >= Model.ListOfListsOfAudiences[i].Count)
                                    break;
                            }
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div style="color:var(--main-text-color);">Нет элементов, удовлетворяющих условиям фильтра</div>
        }
    </div>
</div>